
{% extends 'admin/PageHeader.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add branch</title>


</head>
<body>
<form method="POST" class="post-form">
        {% csrf_token %}
    <div class="container">
<br>
<br>
<br>

<br>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label"> <b>USERNAME</b>:</label>
    <div class="col-sm-4">
      {{ form.username }}
    </div>
  </div>
  <br>
  <br>
         <div class="form-group row">
    <label class="col-sm-2 col-form-label"> <b>LASTNAME</b>:</label>
    <div class="col-sm-4">
      {{ form.lastname }}
    </div>

  </div>

  <br>
  <br> 

            <div class="form-group row">
    <label class="col-sm-2 col-form-label"> <b>DESIGNATION</b>:</label>
    <div class="col-sm-4">
      {{ form.designation }}
    </div>

  </div>
  <br>
  <br>
  

         <div class="form-group row">
    <label class="col-sm-2 col-form-label"> <b>PASSWORD</b>:</label>
    <div class="col-sm-4">
      {{ form.password }}
    </div>

  </div>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
    </div>
</form>
</body>
</html>
{% endblock %}
